@{
    ViewData["Title"] = "Event";
    string alt_image = "https://i1.wp.com/insatpress.tn/wp-content/uploads/2020/04/44104159_2181495298587811_5543566004648411136_o.jpg?resize=1000%2C600&ssl=1";

}
@model Event


<div class="row">
    <div class="col-8">
        <h1 class="monospace">
            @Model.Name 
        </h1>
        <p class="subtitle">
            <h3 class="lead">ID: </h3>  @Model.Id
        </p>
        <p class="subtitle">
            <h3 class="lead">Category: </h3> @Model.Category
        </p>
        <p class="card-text">Happening the @(Model.Date.ToString("dd-MM-yyyy")) </p>
        <div class="row">
            <div class="col-8 mb-5" style="width: 18rem;">
                <h3 class="lead">
                    Description:
                    </h3>
                    <div class="card-body h-auto" style="height: 20rem;">
                        <p class="card-text">@Model.Description</p>
                    </div>
                    <h3 class="lead">
                        Staff Form:
                    </h3>
                    <div class="card-body h-auto" style="height: 20rem;">
                        <a class="card-text" href="@(Model.StaffForm?? "")">@(Model.StaffForm?? "Rien à afficher" )</a>
                    </div>
                    <h3 class="lead">
                        Participation Form:
                    </h3>
                    <div class="card-body h-auto" style="height: 20rem;">
                        <a class="card-text" href="@(Model.ParticipationForm?? "" )">@(Model.ParticipationForm?? "Rien à afficher" )</a>
                    </div>

                    <h3 class="lead">
                        Club
                    </h3>
                    <div class="card mb-5" style="width: 18rem;">
                        <div class="card-body h-auto" style="height: 20rem;">
                            <h5 class="card-title">@Model.Club.Name</h5>
                            <a asp-area="" asp-controller="Clubs" asp-action="club" asp-route-id="@Model.Club.Id" class="btn btn-danger">See Details</a>
                        </div>
                    </div>

            </div>
        </div>
        <h3 class="my-2">
            <a asp-area="" asp-controller="Events" asp-action="update" asp-route-id="@Model.Id">
                <button type="button" class="btn btn-danger btn-lg">Edit</button>
            </a>
            <a asp-area="" asp-controller="Events" asp-action="delete" asp-route-id="@Model.Id">
                <button type="button" class="btn btn-danger btn-lg">Delete</button>
            </a>
        </h3>
    </div>
    <div class="col-4">
        <img src="@(Model.Image ?? alt_image)" alt="Venue Image" style="height:250px; width:400px;"/>
    </div>
</div>





