@{
    ViewData["Title"] = "Event";
    string alt_image = "https://i1.wp.com/insatpress.tn/wp-content/uploads/2020/04/44104159_2181495298587811_5543566004648411136_o.jpg?resize=1000%2C600&ssl=1";

}
@model Event


<div class="row">
    <div class="col-6">
        <h1 class="monospace">
            @Model.Name 
        </h1>
        <p class="subtitle">
            ID:  @Model.Id
        </p>
        <p class="subtitle">
            Category:  @Model.Category
        </p>
        <p class="card-text">Happening the @(Model.Date.ToString("dd-MM-yyyy")) </p>
        <div class="row">
            <div class="d-flex justify-content-around flex-wrap">
                <div class="card mb-5" style="width: 18rem;">
                    Description:
                    <div class="card-body h-auto" style="height: 20rem;">
                        <p class="card-text">@Model.Description</p>
                    </div>
                    StaffForm:
                    <div class="card-body h-auto" style="height: 20rem;">
                        <p class="card-text">@Model.StaffForm</p>
                    </div>
                    ParticipationForm:
                    <div class="card-body h-auto" style="height: 20rem;">
                        <p class="card-text">@Model.ParticipationForm</p>
                    </div>
                    Club:
                    <div class="card-body h-auto" style="height: 20rem;">
                        <div class="card-body h-auto" style="height: 20rem;">
                            <a asp-area="" asp-controller="Clubs" asp-action="Club" asp-route-id="@Model.Club.Id" class="btn btn-danger">See Club</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <h3 class="my-2">
            <a asp-area="" asp-controller="Events" asp-action="update" asp-route-id="@Model.Id">
                <button type="button" class="btn btn-danger btn-lg">Edit</button>
            </a>
            <a asp-area="" asp-controller="Events" asp-action="delete" asp-route-id="@Model.Id">
                <button type="button" class="btn btn-danger btn-lg">Delete</button>
            </a>
        </h3>
    </div>
    <div class="col-6">
        <img src="@(Model.Image ?? alt_image)" alt="Venue Image" style="height:250px; width:400px;"/>
    </div>
</div>






