@{
    ViewData["Title"] = "Search Club";
}

<h2 class="display-4">Search for an Event!!</h2>
<div class="row">
    <div class="col-12 justify-content-center">
        <section id="searchForm">
            @using (Html.BeginForm("Search", "Events", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <hr />
            <div class="form-group">
                @Html.Label("name", "Enter the event name: ", new { @class = "control-label lead" })
                <div class="col-md-10">
                    @Html.TextBox("name", "", new { @class = "form-control form-control-lg" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("name", "Choose a club: ", new { @class = "control-label lead" })
                <div class="col-md-10">
                    @Html.ListBox("club", ViewBag.club, new { @class = "form-control form-control-lg" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("name", "Choose a category: ", new { @class = "control-label lead" })
                <div class="col-md-10">
                    @Html.ListBox("category", ViewBag.category, new { @class = "form-control form-control-lg" })
                </div>
            </div>
            <div class="form-group">
                <p class="lead">Date: </p>
                <div class="col-md-10">
                    @Html.Label("createdFrom", "From : ", new { @class = "control-label" })
                    @Html.TextBox("createdFrom", "", new { placeholder = "dd-MM-yyyy", @class = "form-control form-control-lg", @type="date"})
                </div>
                <div class="col-md-10">
                    @Html.Label("createdTo", "To : ", new { @class = "control-label" })
                    @Html.TextBox("createdTo", "", new { placeholder = "dd-MM-yyyy", @class = "form-control form-control-lg", @type="date"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search" class="btn btn-danger btn-lg" />
                </div>
            </div>
            }
        </section>
    </div>
</div>
