@{
    ViewData["Title"] = "Clubs";
    string alt_image = "https://i1.wp.com/insatpress.tn/wp-content/uploads/2020/04/44104159_2181495298587811_5543566004648411136_o.jpg?resize=1000%2C600&ssl=1";
}
@model Club


<div class="row">
    <div class="col-6">
        <h1 class="monospace">
             @Model.Name
        </h1>
        <p class="subtitle">
            ID: @Model.Id
        </p>
   
        <h3 class="my-2">
            <a asp-area="" asp-controller="Clubs" asp-action="update" asp-route-id="@Model.Id">
                <button type="button" class="btn btn-danger btn-lg">Edit</button>
            </a>
            <a href="/Clubs/delete/@Model.Id">
                <button type ="button" class="btn btn-danger btn-lg">Delete</button>
            </a>
        </h3>
    </div>
    <div class="col-6">
        <img src=@(Model.Logo ?? alt_image) alt="Image" style="height:250px; width:400px;"/>
    </div>
</div>

<h3 class="display-4">

    Members
</h3>
<div class="row">
    <div class="d-flex justify-content-around flex-wrap">
              @{
                  foreach(Member m in Model.Members){
            <div class="card mb-5" style="width: 18rem;">
                <div class="card-body h-auto" style="height: 20rem;">
                    <h5 class="card-title">@m.Name</h5>
                    <p class="card-text">@m.Role </p>
                </div>
            </div>
              }
              }
 

    </div>
</div>

<h3 class="display-4">
                Events
</h3>

<div class="row">
    <div class="d-flex justify-content-around flex-wrap">
        @{
            foreach(Event e in Model.Events){
                    <div class="card mb-5" style="width: 18rem;">
                        <img class="card-img-top" style="height: 20rem; width:100%;" src=@(alt_image) alt="event image">
                        <div class="card-body h-auto" style="height: 20rem;">
                            <h5 class="card-title">@e.Name</h5>
                            <p class="card-text">Happening the (@e.Date.ToString("dd-MM-yyyy") + (@e.Date.ToString("HH:mm")!="00:00" ? " starts at "+ @e.Date.ToString("HH:mm") : ""))</p>
                            <a href="/Events/SelectEvent?id=@e.Id" class="btn btn-danger">See Details</a>
                        </div>
                    </div>
        }
        }
    </div>
</div>
